<!doctype html>
<html lang="en" ng-app="sampleApp">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Add Patient</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>

	<script src="libraries/p5.js" type="text/javascript"></script>

	<script src="libraries/p5.dom.js" type="text/javascript"></script>

	<!-- <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script> -->
	<script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

	<!-- Bootstrap core CSS     -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Animation library for notifications   -->
	<link href="assets/css/animate.min.css" rel="stylesheet" />

	<!--  Light Bootstrap Table core CSS    -->
	<link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />


	<!--     Fonts and icons     -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
	<link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<!--C:\Studies\University of sydney\2017 SEM 2\INFO 3400\Final Code\lymphoedema\Dashboard\public\assets\js\Addpatient.js !-->

<body ng-controller="SampleCtrl">

	<script src="assets/js/Addpatient.js"></script>
	<link href="assets/css/patient.css" rel="stylesheet"/>

	<div class="wrapper">
		<div class="sidebar" data-color="azure" data-image="assets/img/sidebar-5.jpg">

			<!--

	        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
	        Tip 2: you can also add an image using data-image tag

	    -->

			<div class="sidebar-wrapper">
				<div class="logo">
					<a href="index.html" class="simple-text">
	                    Project Novel
	                </a>
				</div>

				<ul class="nav">
					<li class="active">
						<a href="index.html">
							<i class="fa fa-dashboard"></i>
								<p>Dashboard</p>
						</a>
					</li>
					<li>
						<a href="patient.html">
							<i class = "pe-7s-add-user"></i>
							<p> Add Patient </p>
					</li>
					</ul>
	    	</div>
	    </div>

    <div class="main-panel">

			<nav class="navbar navbar-default navbar-fixed">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
									</button>
						<a class="navbar-brand">Add <font color = #19B5FE> Patient </font></a>
						<button id="logout" class ="btn btn-action">Log Out </button>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li>
					</li>
				</ul>
			</div>
		</div>
		</nav>

		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="header">
								<h4 class="title">Patient <font color = #19B5FE>Details</font></h4>
									<p class="category">Patient <font color = #19B5FE>Register Form</font></p>
							</div>
							<div class="content">
								<form ng-submit="addPatient()">

									<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label>Patient ID</label>

													    <input type="text" class="form-control | input" placeholder="Patient ID" id="name" ng-model="id"/>


												</div>
											</div>
											<!-- <div class="col-md-3">

												<div class="form-group">
													<label>Email address</label>
													<input type="email" id="email" class="form-control" placeholder="Email" ng-model="data.email">
												</div>
											</div> -->
											<!-- <div class="col-md-4">
												<div class="form-group">
													<label for="exampleInputEmail1">Mobile Number</label>
													<input type="number" id="mobile" class="form-control" placeholder="Phone Number" ng-model="data.mobile">
												</div>
											</div> -->
										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label>First Name</label>
													<input type="text" id="last" class="form-control | input" placeholder="First Name" ng-model="data.firstName">
												</div>
											</div>
											<!-- <div class="col-md-6">
												<div class="form-group">
													<label>Last Name</label>
													<input type="text" id="last" class="form-control" placeholder="Last Name" ng-model="data.lastName">
												</div>
											</div> -->
											<div class="col-md-6">
												<div class="form-group">
													<label>Day</label>
													<input type="text" id="last" class="form-control | input" placeholder="Number of Day" ng-model="data.initialDate">
												</div>
											</div>
										</div>
										<!-- <div class="row"> -->
											<!-- <div class="col-md-3">
												<div class="form-group">
													<label>Age</label>
													<input type="number" id="addage"class="form-control" placeholder="Age" ng-model="data.addAge">
												</div>
											</div> -->
											<!-- <div class="col-md-2">
												<div class="form-group"> -->
													<!-- <li class="dropdown"> -->
														<!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
																							<!-- <label>Gender</label> -->
																							<!-- <b class="caret"></b> -->
																				<!-- </a> -->
														<!--<input type="text" class="form-control" placeholder="gender" value="">-->
														<!-- <input type="text" id="addgender" class="form-control" placeholder="gender" ng-model="data.addGender"> -->
														<!-- <ul class="dropdown-menu">
															<li><a href="#">Male</a></li>
															<li><a href="#">Female</a></li>
															<li><a href="#">Other</a></li>
															<li><a href="#">Not Disclosed</a></li>
														</ul> -->
	                      <!-- </div>
											</div> -->
											<!-- </div> -->
											<!-- <div class="col-md-3">
												<div class="form-group">
													<label>Date Of Birth</label>
													<div id="my-calendar"></div>
													<input type="date" id="addDOB" class="form-control" placeholder="DD/MM/YYYY" ng-model="data.addDOB">
												</div>
											</div> -->
										<!-- </div> -->
										<!-- <div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label>Address</label>
													<input type="text" id="addAddress"class="form-control" placeholder="Home Address" ng-model="data.addAddress">
												</div>
											</div>
										</div> -->

										<!-- <div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label>City</label>
													<input type="text" id="addCity" class="form-control" placeholder="City" ng-model="data.addCity">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>Postcode</label>
													<input type="number" id="addPost" class="form-control" placeholder="postcode" ng-model="data.addPost">
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label>State</label>
													<input type="text" id="addState" class="form-control" placeholder="State" ng-model="data.addState">
												</div>
											</div>

										</div> -->

										<!-- <div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label>Patient Initial Report</label>
													<textarea rows="5" id="addReport" class="form-control" placeholder="Add description" ng-model="data.addReport"></textarea>
												</div>
											</div>
										</div> -->



									</div>
								</div>
							</div>



<!--
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<label>Affected</label>
									<input type="text" id="affected" class="form-control" placeholder="Affected" ng-model="data.affected">
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<label>Unaffected</label>
									<input type="text" id="unaffected" class="form-control" placeholder="Unaffected" ng-model="data.unaffected">
								</div>
						</div>
						<div class="col-md-5">
							<div class="form-group">
								<label>Date</label>
								<input type="text" id="dateA" class="form-control" placeholder="Date" ng-model="data.dateA">
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group">
								<label>General</label>
								<input type="text" id="GeneralA" class="form-control" placeholder="General" ng-model="data.generalA">
							</div>
						</div>
						<div class="col-md-5">
							<div class="form-group">
								<label>Fortycm_reading</label>
								<input type="text" id="fortyA" class="form-control" placeholder="Fortycm_reading" ng-model="data.fortyA">
							</div>
						</div>

						<div class="col-md-5">
							<div class="form-group">
								<label>Thirtycm_reading</label>
								<input type="text" id="thirtyA" class="form-control" placeholder="Thirtycm_reading" ng-model="data.thirtyA">
							</div>
						</div>

						<div class="col-md-5">
							<div class="form-group">
								<label>Tentycm_reading</label>
								<input type="text" id="twentyA" class="form-control" placeholder="Tentycm_reading" ng-model="data.twentyA">
							</div>
						</div>

						<div class="col-md-5">
							<div class="form-group">
								<label>Tencm_reading</label>
								<input type="text" id="tenA" class="form-control" placeholder="Tencm_reading" ng-model="data.tenA">
							</div>
						</div>

						<div class="col-md-5">
							<div class="form-group">
								<label>Wrist</label>
								<input type="text" id="wristA" class="form-control" placeholder="Wrist" ng-model="data.wristA">
							</div>
						</div>

						<button type="submit">Add Patient</button>
					<!--<button ng-click="submit()">Add Patient</button>-->


				<!--	</div>
				</div>

				<div class="form-group">  <!<div class="form-group"> -->
						<div class="container-fluid">
								<div class="row">
										<div class="col-md-12">
												<div class="card">
														<div class="header">
																<h4 class="title">Patient <font color = #19B5FE>Measurment</font></h4>
																<p class="category">Daily <font color = #19B5FE>Measurement Form</font></p>
														</div>
														<div class="content table-responsive table-full-width">
																<table class="table table-hover">
																		<thead>
																			<th>Type</th>
																			<th>Date</th>
																			<th>Forty(cm)</th>
																			<th>Thrity(cm)</th>
																			<th>Twenty(cm)</th>
																			<th>Ten(cm)</th>
																			<th>Wrist(cm)</th>
																		</thead>
																		<tbody>
																				<tr>
																					<td>Affected</td>
																					<td><input type="text" id="dateP" class="form-control | input" placeholder="dd-mm-yyyy" ng-model="data.dateA"></td>
																					<td><input type="text" id="fortyA" class="form-control | input" placeholder="40 cm reading" ng-model="data.fortyA"></td>
																					<td><input type="text" id="thirtyA" class="form-control | input" placeholder="30 cm reading" ng-model="data.thirtyA"></td>
																					<td><input type="text" id="twentyA" class="form-control | input" placeholder="20 cm reading" ng-model="data.twentyA"></td>
																					<td><input type="text" id="tenA" class="form-control | input" placeholder="10 cm reading" ng-model="data.tenA"></td>
																					<td><input type="text" id="wristA" class="form-control | input" placeholder="Wrist" ng-model="data.wristA"></td>
																				</tr>
																				<tr>
																					<td>UnAffected</td>
																					<td><input type="text" id="dateB" class="form-control | input" placeholder="dd-mm-yyyy" ng-model="data.dateB"></td>
																					<td><input type="text" id="fortyB" class="form-control | input" placeholder="40 cm reading" ng-model="data.fortyB"></td>
																					<td><input type="text" id="thirtyB" class="form-control | input" placeholder="30 cm reading" ng-model="data.thirtyB"></td>
																					<td><input type="text" id="twentyB" class="form-control | input" placeholder="20 cm reading" ng-model="data.twentyB"></td>
																					<td><input type="text" id="tenB" class="form-control | input" placeholder="10 cm reading" ng-model="data.tenB"></td>
																					<td><input type="text" id="wristB" class="form-control | input" placeholder="Wrist" ng-model="data.wristB"></td>
																				</tr>


																		</tbody>
																</table>
																<button type="submit" class = "btn btn-default">Add Patient</button>
    												</div>
													</div>
														</div>
												</div>
										</div>

		</form>
		</div>

	</div>
	</div>

	<footer class="footer">
		<div class="container-fluid">
			<nav class="pull-left">
				<ul>
				</ul>
			</nav>
			<p class="copyright pull-right">
				&copy;
				<script>
					document.write(new Date().getFullYear())
				</script> <a>Project Novel</a>, Powered by Team Blockchain
			</p>
		</div>
	</footer>
	</div>

	<div>
	</div>


</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="assets/js/light-bootstrap-dashboard.js"></script>


</html>
